<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis facilis
    minima dolore voluptate voluptates cumque nesciunt, suscipit mollitia et.
    Vitae, temporibus saepe. Rem in asperiores suscipit magni impedit ratione
    unde?
  </p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis magnam
    doloribus dolor voluptas porro rerum? Assumenda temporibus quas doloremque
    consectetur nulla sequi ipsam, amet expedita aliquid! Asperiores illo unde
    praesentium.
  </p>
</main>
